.create-emp {
  background-image: url("../../assets/images/yellow-and-and-blue-colored-pencils-1762851.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.card {
  width: 30%;
}

form {
  width: 85%;
}

button {
  width: 80%;
}

input {
  margin: 20px 0px 20px 0px;
}

p {
  color: red;
}
